**/.classpath
**/.devlinks
**/.gradle
**/.idea
**/.project
**/.settings
**/.DS_Store
**/*.log
**/archive-reports
**/bin
**/build
**/data/generated
**/docs/generated
**/include
**/lib
**/logs
**/out
**/tmp
